@import '../../../scss/variables.scss';
@import '../Card/Card.scss';

.header-style {
  display: flex;
  justify-content: flex-end;
  .navbar {
    height: 70px;
    justify-content: flex-end;
  }
}
.li-style {
  list-style-type: none;
  padding-right: 60px;
  a {
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fbd784;
  }
}
.li-style,
.nav-a,
a:-webkit-any-link {
  text-decoration: none !important;
}

.banner-img {
  height: 664px;
}
.header-banner {
  position: relative;
}
.glass {
  @extend .card;
  position: absolute;
  width: 44.6%;
  height: 100%;
  border-radius: 0px;
}
