@import '../../../scss/variables.scss';
@import '../Card/Card.scss';

.header-style {
  display: flex;
  justify-content: flex-end;
  .navbar {
    height: 70px;
    justify-content: flex-end;
  }
}
.hamburgerLogo {
  display: none;
}

.li-style {
  list-style-type: none;
  padding-right: 60px;
  a {
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fbd784;
  }
}
.li-style,
.nav-a,
a:-webkit-any-link {
  text-decoration: none !important;
}

.mobile-nav-style {
  display: block !important;
  position: absolute;
  top: 70px;
  right: 0px;
  background-color: $primary-black;
  margin: 0;
  padding: 20px;
  .li-style {
    padding: 10px 20px;
  }
}

.banner-img {
  height: 664px;
  background-image: url('../../../assets/images/hehebot.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-banner {
  position: relative;
}
.glass {
  @extend .card;
  position: absolute;
  width: 44.6%;
  height: 100%;
  border-radius: 0px;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding-bottom: 60px;
  .intro-section {
    width: 70%;
    padding-right: 70px;
  }
}

@media only screen and (max-width: 1200px) {
  .hamburgerLogo {
    display: block;
  }
  .nav-list {
    display: none;
  }
}
