@import '../../../scss/variables.scss';

.mainTitle {
  font-family: $font-secondary;
  font-weight: normal;
  font-size: $font-36;
  line-height: 32px;
  // text-align: center;
  &.is-itallic {
    font-style: italic;
  }
}

.title-secondary {
  font-family: $font-primary;
  font-weight: $weight-bold;
  font-size: $font-18;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $primary;
  &.regular-style {
    text-transform: lowercase;
    font-weight: normal;
    letter-spacing: 2px;
  }
}

.line {
  margin: auto 0;
  background-color: $primary;
  width: 68px;
  height: 2px;
}
