.card {
  width: 100%;
  height: 98px;
  background: radial-gradient(
    98.05% 261.61% at 1.95% 3.59%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
  border-radius: 10px;
  border: 1px solid;
}
