// /Image common class
.img-wrap-main {
  display: flex;
  justify-content: center;
  .warp-img {
    width: 100%;
    // height: 373px;
    object-fit: cover;
    object-position: center;
    &--circle {
      @extend .warp-img;
      width: 200px;
      clip-path: circle(50%);
    }
  }
}

//Add your breakpoints and dimensions
@media only screen and (max-width: 768px) {
  .img-wrap-main {
    .warp-img {
      height: 300px;
      &--circle {
        width: 300px;
      }
    }
  }
}

// Flex behaviour
.displayFlex {
  display: flex;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.flexVerticleCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

// Margins and padding
.m20 {
  margin: 20px;
}
.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mt80 {
  margin-top: 80px;
}
.mr20 {
  margin-right: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pt40 {
  padding-top: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
.pt60 {
  padding-top: 60px;
}
.pb60 {
  padding-bottom: 60px;
}
.pt90 {
  padding-top: 90px;
}
.pt80 {
  padding-top: 80px;
}
.pb80 {
  padding-bottom: 80px;
}

@media only screen and (max-width: 480px) {
  .ml20 {
    margin-left: 10px !important;
  }
  .mr20 {
    margin-right: 10px !important;
  }
  .mt80 {
    margin-top: 40px;
  }
  .pt20 {
    padding-top: 10px;
  }
  .pt40 {
    padding-top: 20px;
  }
  .pt60 {
    padding-top: 30px;
  }
  .pb60 {
    padding-bottom: 30px;
  }
  .pt90 {
    padding-top: 45px;
  }
  .pt80 {
    padding-top: 40px;
  }
  .pb80 {
    padding-bottom: 40px;
  }
}

//Grid containers
.grid-main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px;
  width: 1360px;
}

.grid-container {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (max-width: 1440px) {
  .grid-main-container {
    max-width: 1080px;
    width: 1080px;
  }
}

@media only screen and (max-width: 1200px) {
  .grid-main-container {
    max-width: 100%;
    width: 100%;
  }
}
