@import '../scss/variables.scss';

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-primary;
  background-color: $primary-black;
  color: $primary-white;
  // padding-top: 5rem; //80px
  // padding-bottom: 5rem; //80px
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

.darkBg {
  background-color: $secondary-black;
}

.form-container {
  .form-main-style {
    width: 60%;
    input {
      width: 100%;
      height: 60px;
      border: none;
      background-color: inherit;
      border-bottom: 1px solid $primary;
      caret-color: $primary-white;
      &:focus-visible {
        outline: none;
      }
    }
    ::placeholder {
      font-size: $font-16;
      line-height: 19px;
      text-transform: capitalize;
      color: #666a6f;
    }
    input[type='text'],
    input[type='email'] {
      font-size: 16px;
      color: $primary-white;
    }
  }
}

@media only screen and (max-width: 768px) {
  .form-container {
    .form-main-style {
      width: 100%;
    }
  }
}
