// $test-variable: red;

$primary: #fbd784;
$primary-black: #111111;
$secondary-black: #000000;
$primary-white: #ffffff;

$font-primary: 'Inter', sans-serif;
// $font-secondary : 'Poppins', sans-serif;
$font-secondary: 'Playfair Display', serif;

$font-36: 2.25rem;
$font-18: 1.125rem;
$font-16: 1rem;
$font-12: 0.75rem;

$weight-bold: 700;
$weight-normal: 400;
