@import '../../../scss/variables.scss';

.roadmap-main {
  position: relative;
}
.roadmap-main::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  border-left: 1px solid $primary;
  top: 0;
}

.roadmap-date {
  font-size: 14px;
  color: #caa877;
}

.roadmap-date ~ .line {
  margin: 30px 0;
  height: 1px;
  background-color: #caa877;
}

.roadmap-bullet {
  position: absolute;
  left: -2px;
  top: 0;
}
